
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

.formulario {
    margin-bottom: 20px;
}

.formulario label {
    margin-bottom: 5px;
}

.formulario input[type="text"], .formulario input[type="submit"], .formulario select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formulario input[type="submit"] {
    background-color: #3d463d;
    color: white;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #abb4ab;
}

.estoque {
    list-style-type: none;
    padding: 0;
}

.estoque li {
    padding: 8px;
    background-color: #fafafa;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}