* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

.formulario {
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input[type="text"], 
.formulario input[type="number"], 
.formulario select,
.formulario input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario input[type="submit"] {
    background-color: #212421;
    color: white;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #a9b3a9;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fafafa;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}